<!-- /girds_bottom-->
<%if(cart){%>
    <script>
        const cart = '<%=cart%>';
        window.localStorage.setItem("cart",cart);
    </script>
<%}%>

<div class="grid-container">
    <div class="best-seller">
        <%-include('./partials/productsHolder.ejs',{ products: options.best_seller_products, title: 'Best Seller' } )%>
    </div>
    <div class="new-product">
        <%-include('./partials/productsHolder.ejs',{ products: options.new_products, title: 'New Products' } )%>
    </div>
    <div class="flash-sell">
        <%-include('./partials/productsHolder.ejs',{products: options.flash_sell_products, title: 'Flash Sell' } )%>
    </div>
    <div class="brands-list-carousel">
        <%-include('./partials/brandCarousel.ejs')%>
    </div>
    <div class="home-page-footer">
        <%- include('./partials/footer.ejs') %>
    </div>

</div>


