<!-- top Products -->
<div class="mt-5">
    <div class="shop_inner_inf">
        <div>
            <div class="row">
                <div class="col-sm-4 single-right-left ">
                    <div class="grid images_3_of_2">
                        <div class="">
                            <ul class="slides">
                                <li data-thumb="<%= product.image_show_url %>">
                                    <div class="thumb-image">
                                        <img src="<%= product.image_show_url %>" data-imagezoom="true"
                                             class="img-responsive">
                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 single-right-left simpleCart_shelfItem">
                    <% if (Math.floor(product.discount * 100) === 0){ %>
                        <h3><%= product.name %></h3>
                    <% }else { %>
                        <h3><%= product.name %> -<%= Math.floor(product.discount * 100) %>%</h3>
                    <% } %>

                    <div>
                        <div class="row my-4">
                            <div class="col-sm-2 mr-3">
                                <h4 class="mt-1 w-100">Category: </h4>
                            </div>
                            <div class="col-sm mt-1">
                                <h4> <%= category.name %></h4>
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="col-sm-2 mr-3">
                                <h4 class="mt-1 w-100">Brand: </h4>
                            </div>
                            <div class="col-sm mt-1">
                                <h4> <%= brand.name %></h4>
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="col-sm-2 mr-3">
                                <h4 class="mt-1 w-100">SKU: </h4>
                            </div>
                            <div class="col-sm mt-1">
                                <h4> <%= product.SKU %></h4>
                            </div>
                        </div>
                        <% if (Math.floor(product.discount * 100) === 0){ %>
                            <div class="row my-4">
                                <div class="col-sm-2 mr-3">
                                    <h4 class="mt-1 w-100">Price: </h4>
                                </div>
                                <div class="col-sm mt-1">
                                    <h4 class="item-price"><%= (new Intl.NumberFormat('vi-VN', {
                                            style: 'currency',
                                            currency: 'VND'
                                        }))
                                                .format(Math.floor(product.price.price_value * (1 - product.discount) / 1000) * 1000).toString() %></h4>
                                </div>
                            </div>
                        <% }else { %>
                            <div class="row my-4">
                                <div class="col-sm-2 mr-3">
                                    <h4 class="mt-1 w-100">Price: </h4>
                                </div>
                                <div class="col-sm mt-1 ">
                                    <h4 class="price-detail"><%= (new Intl.NumberFormat('vi-VN', {
                                            style: 'currency',
                                            currency: 'VND'
                                        }))
                                                .format(Math.floor(product.price.price_value * (1 - product.discount) / 1000) * 1000).toString() %></h4>
                                    <p><span><%= product.price.string_price %></span></p>

                                </div>
                            </div>
                        <% } %>
                        <div class="row my-4">
                            <div class="col-sm-2 mr-3">
                                <h4 class="mt-1 w-100">View: </h4>
                            </div>
                            <div class="col-sm mt-1">
                                <h4> <%= !product.views ? 0 : product.views %></h4>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-2 mr-3">
                                <h4 class="mt-1 w-100">Status: </h4>
                            </div>
                            <div class="col-sm mt-1">
                                <h4 id="status"></h4>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-2 mr-3">
                                <h4 class="mt-1 w-100">Remain: </h4>
                            </div>
                            <div class="col-sm mt-1">
                                <h4 id="remain"></h4>
                            </div>
                        </div>

                        <form action="#" id="add-to-cart">
                            <div class="my-4">
                                <div class="row">
                                    <input type="hidden" name="idProduct" value="<%= product._id %>">
                                    <div class="col-sm-2 mr-3">
                                        <h4 class="mt-1 w-100" style="display: inline">Color: </h4>
                                    </div>
                                    <div class="col-sm">
                                        <h4><%= color %></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="my-4">
                                <div class="row">
                                    <div class="col-sm-2 mr-3">
                                        <h4 class="mt-1 w-100" style="display: inline">Size: </h4>
                                    </div>

                                    <% if(size.length === 0 ){ %>
                                        <div class="alert alert-warning" role="alert">Out of stock</div>
                                    <% } %>

                                    <div class="col-sm-">
                                        <% size.map((data, index)=>{ %>

                                            <div style="display:inline-block">
                                                <input id="<%= data._id %>" type="radio"
                                                       name="size"
                                                       style="display:inline; border: #1adeed solid;padding: 5px; margin-bottom: 3px;"
                                                       value="<%= data._id %>"/>
                                                <label for="<%= data._id %>" class=" mr-4"><%= data.text %></label>
                                            </div>
                                            <% if((index + 1) % 3 === 0){ %>
                                                <div class="clearfix"></div>
                                            <% } %>
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="row  align-items-center">
                                    <div class="col-sm-2 align-items-center">
                                        <h4 class="mt-1 w-100" style="display: inline">Qty </h4>
                                    </div>
                                    <div class="col qty my-4">
                                        <span class="minus bg-dark" id="minus-qty">-</span>
                                        <input type="number" class="count" name="qty" value="1" placeholder="Qty"/>
                                        <span class="plus bg-dark" id="plus-qty">+</span>
                                    </div>
                                </div>
                                <div class="row  align-items-center ">
                                    <div class="col-sm-2"></div>
                                    <div class="col-">
                                        <button class="align-center btn-add"
                                                type="submit"
                                                id="pd-add-to-cart"
                                        >Add to cart
                                        </button>
                                    </div>
                                </div>
                                <div id="message">

                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <div class="clearfix"></div>
</div>
<div class="p-5 m-3">
    <div class="card m-2">
        <div class="card-header" id="product-detail">
            <a role="button" data-toggle="collapse" href="#p-detail-content">
                <h3>Product Detail (Chi tiết sản phẩm)</h3>
            </a>

        </div>

        <div class="img-detail" id="p-detail-content" class="card-body w-100"
             style="transition: height 2s!important; margin: 0 auto !important;">

            <% if(product.images_detail_url){ %>
                <% product.images_detail_url.map((dataImage, index)=>{ %>
                    <img src="<%= dataImage %>" alt="image-<%= index %>" class="m-3 p-3">
                <% }) %>
            <% }else{ %>
                <h4>Updating</h4>
            <% } %>

        </div>
    </div>

    <div class="card m-2">
        <div class="card-header" id="review-content">
            <a role="button" data-toggle="collapse" href="#p-review-content">
                <h3>Review</h3>
            </a>

        </div>
        <div class="collapse show" id="p-review-content" style="transition: height 1s!important">
            <form id="review-form" class="card-body">
                <div>
                    <label for="#username" class="display-5" style="display: inline"> Customer</label>
                    <div class="rating">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                    <% if(user_name !== ''){ %>

                        <input class="form-control" type="text" value="<%= user_name %>" readonly id="usernamereivew"
                               style="width: 100%">
                    <% }else{ %>
                        <input class="form-control" type="text" placeholder="Enter Customer Name" id="usernamereivew"
                               style="width: 100%">
                    <% } %>

                </div>
                <label for="reviewcontent" class="display-5"> Content</label>
                <div>
                    <textarea class="form-control" type="text" placeholder="Content Review" id="reviewcontent"
                              rows="7"></textarea>
                </div>

                <input type="submit" value="Review" class="d-flex justify-content-center m-3 btn btn-primary ">

            </form>
            <a href="#review-product" id="show-review" class="d-flex justify-content-center mt-5">View reviews</a>
            <div class="d-flex justify-content-center mt-2" id="message-rate"></div>
            <div class="mt-3 p-3" id="review-product">

            </div>

        </div>
    </div>
    <!--comment-->
    <div class="card m-2">
        <div class="card-header" id="comments-content">
            <a role="button" data-toggle="collapse" href="#p-comments-content">
                <h3>Comments</h3>
            </a>

        </div>
        <div class="collapse show" id="p-comments-content"
             style="max-height: 500px; transition: height 1s!important;overflow-y: scroll ">
            <div class="card-body scroll">
                <form id="comment-form" style="margin-bottom: 55px;margin-top: 20px">
                    <div>
                        <label for="#guestname" class="display-5" style="display: inline"> Customer</label>

                        <% if(user_name !== ''){ %>
                            <input class="form-control" type="text" value="<%= user_name %>" readonly id="guestname"
                                   style="width: 100%">
                        <% }else{ %>
                            <input class="form-control" type="text" placeholder="Enter username"
                                   id="guestname"
                                   style="width: 100%">
                        <% } %>

                    </div>
                    <label for="content-comment" class="display-5 mt-4">Content</label>
                    <div>
                        <textarea class="form-control" type="text" required placeholder="Content comment"
                                  id="content-comment"
                                  rows="4"></textarea>
                    </div>

                    <input type="submit" value="Comment" class="m-3 btn btn-primary d-flex justify-content-center "
                           style="width: fit-content">
                </form>
                <a href="#" id="show-comments" class="d-flex justify-content-center">View comment</a>
                <div class="mt-3" id="comments-product">

                </div>
            </div>

        </div>
    </div>
</div>

</div>
<!-- //top products -->

<div class="col-sm-6 newsleft">
    <h3>Product Related</h3>
</div>
<div class="clearfix"></div>

<div class="container my-4">
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="2000">

        <!--Controls-->
        <div class="controls-top">
            <a class="btn-floating float-left" href="#multi-item-example" data-slide="prev"><i
                        class="fa fa-chevron-left"></i></a>
            <a class="btn-floating float-right" href="#multi-item-example" data-slide="next"><i
                        class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox" id="carousel-related">


        </div>
        <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->


</div>


<!-- /newsletter-->
<%- include('../partials/letterSignup.ejs') %>
<!-- //newsletter-->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/cart-handle.js"></script>
<script type="text/javascript" src="/js/product_detail.js"></script>
<script src="/js/imagezoom.js"></script>
<script src="/js/productRelated.js"></script>