<!DOCTYPE html>
<html lang="en">

<head>
    <title>HDH Shoes</title>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <!-- banner -->
    <div class="banner_top" id="home">
        <div class="wrapper_top_w3layouts">
            <div class="header_agileits">
                <div class="logo">
                    <h1><a class="navbar-brand" href="/"><span>HDH</span> <i>Shoes</i></a></h1>
                </div>
                <!-- nav bar -->
                <%- include('../partials/navBar.ejs') %>
                <!-- //nav bar -->

                <!-- cart details -->
                <%- include('../partials/cartDetail.ejs') %>
                <!-- //cart details -->

                <!-- search -->
                <%- include('../partials/searchBar.ejs') %>
                <!-- //search -->

                <div class="clearfix"></div>
            </div>
            <!-- /slider -->
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides callbacks callbacks1" id="slider4">
                        <li>
                            <div class="banner-top2">
                                <div class="banner-info-wthree">
                                    <h3>Nike</h3>
                                    <p>See how good they feel.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-top3">
                                <div class="banner-info-wthree">
                                    <h3>Heels</h3>
                                    <p>For All Walks of Life.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-top">
                                <div class="banner-info-wthree">
                                    <h3>Sneakers</h3>
                                    <p>See how good they feel.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-top1">
                                <div class="banner-info-wthree">
                                    <h3>Adidas</h3>
                                    <p>For All Walks of Life.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- //slider -->
            <ul class="top_icons">
                <li><a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                <li><a href="#"><span class="fa fa-linkedin" aria-hidden="true"></span></a></li>
                <li><a href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </div>
    <!-- //banner -->
<!--    <%- body %>-->
    <%- include('../partials/footer.ejs') %>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;">
        </span></a>
    <%- include('../partials/footerScript.ejs') %>
</body>

</html>